<div class="flex px-10 justify-center border-b-2 border-white">
    <div style="width: fit-content;" class="p-3 rounded-3xl border-2 border-transparent hover:border-white">
        <img class="w-10 h-10 rounded-3xl" src="/images/image.png" alt="fb">
    </div>
    <div style="width: fit-content;" class="p-3 rounded-3xl border-2 border-transparent hover:border-white">
        <img class="w-10 h-10 rounded-4xl" src="/images/1161953_instagram_icon.png" alt="insta">
    </div>
    <div style="width: fit-content;" class="p-3 rounded-3xl border-2 border-transparent hover:border-white">
        <img class="w-10 h-10 rounded-4xl" src="/images/843786_whatsapp_icon (1).png" alt="Wa">
    </div>
  </div>
  <div>
    <p class="text-white p-2 text-center">Coyrights © 2024. All Rights Reserved.</p>
  </div>

