<div class="flex px-10 justify-center border-b-2 border-white">
    <div style="width: fit-content;" class="p-3 rounded-3xl border-2 border-transparent hover:border-white">
        <img class="w-10 h-10 rounded-3xl" src="./images/fb.jpg" alt="fb">
    </div>
    <div style="width: fit-content;" class="p-3 rounded-3xl border-2 border-transparent hover:border-white">
        <img class="w-10 h-10 rounded-3xl" src="./images/inst.jpg" alt="insta">
    </div>
    <div style="width: fit-content;" class="p-3 rounded-3xl border-2 border-transparent hover:border-white">
        <img class="w-10 h-10 rounded-3xl" src="./images/wst.jpg" alt="Wa">
    </div>
  </div>
  <div>
    <p class="text-white p-2 text-center">Coyrights © 2024. All Rights Reserved.</p>
  </div>

