

<%- include('partials/header') %>
    <!-- content -->
    <div class="p-5 bg-white md:flex justify-center gap-4">
        <div class="bg-white mt-4 rounded-md flex flex-col p-3 gap-2 items-center">
            <i class="fa-solid fa-location-dot fa-xl"></i>
            <h3 class="font-bold text-xl">Address</h3>
            <p>41, Somwhere street 2nd cross</p>
            <p>Somecity</p>
            <p>602601</p>
        </div>
        <div class="bg-white mt-4 rounded-md flex flex-col p-3 px-10 gap-2 items-center">
            <i class="fa-solid fa-phone fa-xl"></i>
            <h3 class="font-bold text-xl">Phone Number</h3>
            <p class="text-blue-600">+91-9159876432</p>
            <p class="text-blue-600">+91-9876543210</p>
        </div>
        <div class="bg-white mt-4 rounded-md flex flex-col p-3 gap-2 items-center">
            <i class="fa-solid fa-envelope fa-xl"></i>
            <h3 class="font-bold text-xl">E-mail Address</h3>
            <p class="text-blue-600">thereathusarees@gamil.com</p>
        </div>
        <div class="bg-white mt-4 rounded-md flex flex-col p-3 gap-2 items-center">
            <i class="fa-solid fa-calendar-days fa-xl"></i>
            <h3 class="font-bold text-xl">Working Days</h3>
            <p>Mon-Sat/ 9.00Am - 6.30Pm (IST)</p>
        </div>
    </div>
    <div class="p-3 flex flex-col md:flex-row gap-4">
    
      <div class="p-3 flex flex-col gap-4 w-full md:w-1/2">
        <form action="/contact" method="post" style="display: flex; flex-direction: column; gap: 1rem;">
        <input class="p-3 rounded-md w-full" type="text" name="name" placeholder="Name" required>
        <input class="p-3 rounded-md w-full" type="text" name="email" placeholder="Email" required>
        <input class="p-3 rounded-md w-full" type="text" name="phone" placeholder="Mobile Number" required>
        <textarea class="p-3 rounded-md w-full" name="message" id="msg" placeholder="Enter Your Message "></textarea>
        <button class="px-4 py-2 bg-blue-600 rounded-md">Submit</button>
    
      </div>
    </form>
      <div class="border rounded-lg overflow-hidden shadow-lg w-full md:w-1/2">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.8354345094157!2d144.9559239156971!3d-37.81720974202196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642af0f11fd81%3A0xf577db35f07fba3d!2sVictoria%20Harbour%20Promenade%2C%20Docklands%20VIC%203008%2C%20Australia!5e0!3m2!1sen!2sin!4v1639740979709!5m2!1sen!2sin"
          width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>

    <!-- Footer -->
    <%- include('partials/footer') %>
        <script src="/js/index.js"></script>
        <% if (locals.message ? message:"") { %>
            <script>
            alert("<%= message %>");
            </script>
           <% } %>

       

        </body>

        </html>